body {
    background: #292625;
    color: #E98833;
    font-family: Calibri;
}

.frame {
    width: 50%;
    height: 100%;
    text-align: left;
    margin-left: 3%;
    float: left;
    margin-top: 3%;
    border-style: solid;
    border-color: #E98833;
    padding: 3%;
    width: 25%;
    height: 445px;
    box-shadow: 15px 15px 10px black;
}

.frame-stat {
    width: 50%;
    height: 100%;
    text-align: left;
    margin-left: 3%;
    float: left;
    margin-top: 3%;
    border-style: solid;
    border-color: #E98833;
    padding: 3%;
    width: 25%;
    height: 445px;
    box-shadow: 15px 15px 10px black;
}

.idnum {
    margin-bottom: 5%;
    margin-top: 3%;
    float: left;
}

.phlog {
    float: left;
    margin-left: 30%;
    margin-right: 2%;
    color: white;
}

.phin {
    background: #E98833;
    color: black;
    text-align: center;
    align-items: center;
    padding: 8px;
    border-radius: 15px;
    width: 50px;
    margin-left: 1%;
    float: left;
    margin-top: 14.3px;
    margin-right: 10%;
    margin-left: 1%;
}

.datetime {
    margin-bottom: 10%;
    margin-top: 10%;
    background-color: white;
    color: white;
    padding: 3%;
    border-radius: 10px;
    background: #E98833;
    height: 100px;
    text-align: center;
}

.digcock {
    padding: 1%;
    margin-top: 3%;
    font-weight: bolder;
    color: black;
    text-align: center;
    font-family: 'Times New Roman';
}
